<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin.cat">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Language.LanguageActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity
            android:name=".Knowledge.Language.LanguageFace"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity
            android:name=".Knowledge.Language.LanguageBody"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity
            android:name=".Knowledge.Language.LanguageTail"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity
            android:name=".Knowledge.Health.HealthActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity
            android:name=".Knowledge.Massage.MassageActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle"/>
        <activity
            android:name=".Knowledge.Massage.MassageBasic"
            android:label="기본"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Massage.MassageEtc"
            android:label="기타"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Massage.MassageLymph"
            android:label="림프"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Massage.MassageRelax"
            android:label="릴랙스"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Massage.MassageTrouble"
            android:label="트러블"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dictionary.LonghairActivity" />
        <activity android:name=".Dictionary.ShorthairActivity"/>
        <activity android:name=".Dictionary.MiddlehairActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".Knowledge.Health.HealthOne" />
        <activity android:name=".Knowledge.Health.HealthTwo" />
        <activity android:name=".Knowledge.Health.HealthThree" />
        <activity android:name=".Knowledge.Health.HealthFour" />
        <activity android:name=".Knowledge.Health.HealthFive" />
        <activity android:name=".Knowledge.Health.HealthSix" />
    </application>

</manifest>