<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin.cat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity android:name=".activities.LanguageActivity" />
        <activity android:name=".activities.HealthActivity" />
        <activity android:name=".Knowledge.Massage.MassageActivity" />
        <activity android:name=".Knowledge.Massage.MassageBasic" />
        <activity android:name=".Knowledge.Massage.MassageEtc" />
        <activity android:name=".Knowledge.Massage.MassageLymph" />
        <activity android:name=".Knowledge.Massage.MassageRelax" />
        <activity android:name=".Knowledge.Massage.MassageTrouble" />
        <activity android:name=".Knowledge.Health.FirstAidActivity" />
        <activity android:name=".Knowledge.DoNotEat.DoNotEatActivity" />
        <activity android:name=".Knowledge.DoNotEat.DoNotEatMeat" />
        <activity
            android:name=".activities.CatDescActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity android:name=".Knowledge.Food.FoodActivity" />
        <activity android:name=".activities.CommentActivity" />
        <activity android:name=".Knowledge.Food.FoodOneActivity" />
        <activity
            android:name=".Knowledge.Food.IntroSlider.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Knowledge.Food.IntroSlider.WelcomeActivity_Two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Knowledge.Food.FoodTwoActivity" />
        <activity android:name=".activities.LanguageListActivity" />
        <activity android:name=".activities.CatListActivity" />
        <activity android:name=".activities.CareActivity" />
        <activity android:name=".activities.CareDescActivity"></activity>
    </application>

</manifest>