<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin.cat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Knowledge.Language.LanguageActivity" />
        <activity android:name=".Knowledge.Language.LanguageFace" />
        <activity android:name=".Knowledge.Language.LanguageBody" />
        <activity android:name=".Knowledge.Language.LanguageTail" />
        <activity android:name=".Knowledge.Health.HealthActivity" />
        <activity android:name=".Knowledge.Massage.MassageActivity" />
        <activity android:name=".Knowledge.Massage.MassageBasic" />
        <activity android:name=".Knowledge.Massage.MassageEtc" />
        <activity android:name=".Knowledge.Massage.MassageLymph" />
        <activity android:name=".Knowledge.Massage.MassageRelax" />
        <activity android:name=".Knowledge.Massage.MassageTrouble" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LonghairActivity" />
        <activity android:name=".activities.ShorthairActivity" />
        <activity android:name=".activities.MiddlehairActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".Knowledge.Health.HealthOne" />
        <activity
            android:name=".activities.CatDescActivity"
            android:theme="@style/AppTheme.NoWindowNoTitle" />
        <activity android:name=".Knowledge.Food.FoodActivity" />
        <activity android:name=".activities.CommentActivity"></activity>
    </application>

</manifest>